
// All direct methods referenced in direct_method_bindings will be subscribed to in the InitPeripheralsAndHandlers function
#define DECLARE_DX_DEVICE_TWIN_BINDINGS
static DX_DEVICE_TWIN_BINDING* device_twin_bindings[] = {{ {variables} }};
