/// <summary>
/// Implement your GPIO input timer function
/// </summary>
{name} {open_bracket}
	static GPIO_Value_Type gpio_{gpio_name}NewState;

	if (ConsumeEventLoopTimerEvent(eventLoopTimer) != 0) {open_bracket}
		dx_terminate(DX_ExitCode_ConsumeEventLoopTimeEvent);
		return;
	{close_bracket}

	if (dx_gpioStateGet(&gpio_{gpio_name}, &gpio_{gpio_name}NewState)) {open_bracket}
		Log_Debug("gpio_{gpio_name}: %d\n", gpio_{gpio_name}NewState);
	{close_bracket}
{close_bracket}
