/// <summary>
/// Implement your timer function
/// </summary>
static void {name}_handler(EventLoopTimer *eventLoopTimer) {{
    if (ConsumeEventLoopTimerEvent(eventLoopTimer) != 0) {{
        dx_terminate(DX_ExitCode_ConsumeEventLoopTimeEvent);
        return;
    }}
    
    // Implement your timer function
}}
