/// <summary>
/// Implement your timer function
/// </summary>
static void {name}_handler(EventLoopTimer *eventLoopTimer) {{
    if (ConsumeEventLoopTimerEvent(eventLoopTimer) != 0) {{
        dx_terminate(DX_ExitCode_ConsumeEventLoopTimeEvent);
        return;
    }}

    Log_Debug("Periodic timer {name}_handler called\n");

    // Implement your timer function
}}