/// <summary>
/// Implement your timer function
/// </summary>
static void {name}_handler(EventLoopTimer *eventLoopTimer) {{
    static bool gpio_state = true;

    if (ConsumeEventLoopTimerEvent(eventLoopTimer) != 0) {{
        dx_terminate(DX_ExitCode_ConsumeEventLoopTimeEvent);
        return;
    }}

    dx_gpioStateSet(&gpio_{name}, gpio_state);
    gpio_state = !gpio_state;
}}