/// <summary>
/// Implement your timer function
/// </summary>
{name} {open_bracket}
    if (ConsumeEventLoopTimerEvent(eventLoopTimer) != 0) {open_bracket}
        dx_terminate(DX_ExitCode_ConsumeEventLoopTimeEvent);
        return;
    {close_bracket}
    
    // Implement your timer function
{close_bracket}
