
/// <summary>
/// This timer extends the app level lease watchdog timer
/// </summary>
/// <param name="eventLoopTimer"></param>
static void Watchdog_handler(EventLoopTimer *eventLoopTimer) {{
    if (ConsumeEventLoopTimerEvent(eventLoopTimer) != 0) {{
        dx_terminate(DX_ExitCode_ConsumeEventLoopTimeEvent);
        return;
    }}
    timer_settime(watchdogTimer, 0, &watchdogInterval, NULL);
}}